# Data Science Tools and Ecosystem

In this Notebook, Data Science tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used Data Science libraries
- Create a table with the names of some data science tools

Some of the popular languages that Data Scientists use:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. MatplotLib

|Data Science Tools|
|--------|
|KubeFlow|
|Kafka|
|SparkSQL|

### Below are a few examples of evaluating arithmetic expressions in Python
2+3
(5*10)+3

In [1]:
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
import math
minutes = 200

minutesToHours = math.floor(minutes/60)
minutesToHours

3

## Author
Nathan Ameyaw Abuaku